@use "variables";

.about-me {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
.aboutme-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  // border: 1px solid red;
  h2 {
    letter-spacing: -2px;
    line-height: 30px;
    font-weight: bolder;
    color: variables.$secondary-color;
  }
  .txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(68, 68, 68);
  }
}
.about-me-p {
  font-weight: 700;
  color: variables.$primary-color;
}
.aboutme-img-container {
  //border: 1px solid blue;
  max-width: 400px;
  margin: auto;
  img {
    width: 80%;
    height: auto;
  }
}
@media (min-width: 48rem) {
  .about-me {
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .aboutme-text-container {
    flex: 1;
    max-width: 320px;
  }
  .aboutme-img-container {
    flex: 1;
    margin: 0; //added
    max-width: 390px; //added
    img {
      width: 90%;
      height: auto;
    }
  }
}

@media (min-width: 52.8rem) {
  .about-me {
    padding: 1rem 2rem;
  }
}
@media (min-width: 64rem) {
  .about-me {
    padding: 1rem 4rem;
    gap: 3rem;
  }
  .aboutme-text-container {
    max-width: 400px;
  }
  .aboutme-img-container {
    max-width: 450px;
    img {
      width: 100%;
    }
  }
}
@media (min-width: 90rem) {
  .about-me {
    padding: 1rem 7rem;
    gap: 4rem;
  }
  .aboutme-text-container {
    max-width: 480px;
  }
  .aboutme-img-container {
    max-width: 500px;
  }
}
@media (min-width: 105rem) {
  .about-me {
    padding: 1rem 10rem;
    margin-top: 40px;
    gap: 5rem;
  }
  .aboutme-text-container {
    max-width: 520px;
  }
  .aboutme-img-container {
    max-width: 550px;
  }
}
